# FIFA RANK

In [41]:
import pandas as pd

# df = pd.dataframe()
# df = pd.DataFrame()
# 아르헨티나 = pd.DataFrame({'fifa_rank': [1], 'fifa_points': [1889], 'team_numeric': [71], 'continent_numeric': [2]})
# france_info= pd.DataFrame({'fifa_rank': [2], 'fifa_points': [1851], 'team_numeric': [71], 'continent_numeric': [2]})

In [42]:
df=pd.read_csv('C:/2024_ULSAN_EDU/WEEK_9_Generative_AI/team_project_240925/international_matches.csv', encoding='utf-8')
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [43]:
df.drop(['home_team_goalkeeper_score'], axis=1, inplace=True)
df.drop(['away_team_goalkeeper_score'], axis=1, inplace=True)
df.drop(['home_team_mean_defense_score'], axis=1, inplace=True)
df.drop(['home_team_mean_offense_score'], axis=1, inplace=True)
df.drop(['home_team_mean_midfield_score'], axis=1, inplace=True)
df.drop(['away_team_mean_defense_score'], axis=1, inplace=True)
df.drop(['away_team_mean_offense_score'], axis=1, inplace=True)
df.drop(['away_team_mean_midfield_score'], axis=1, inplace=True)
df.drop(['country'], axis = 1, inplace=True)
df.drop(['city'], axis = 1, inplace=True)
df = df.drop(df[df['tournament'] == 'Friendly'].index)
df.drop(['neutral_location'], axis=1, inplace=True)

In [44]:
idx= df.isnull().index
# df.drop(idx)
df.dropna(inplace=True)

In [45]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['home_team_numeric'] = label_encoder.fit_transform(df['home_team'])
df['away_team_numeric'] = label_encoder.fit_transform(df['away_team'])
df['home_team_continent_numeric'] = label_encoder.fit_transform(df['home_team_continent'])
df['away_team_continent_numeric'] = label_encoder.fit_transform(df['away_team_continent'])
df['tournament_numeric'] = label_encoder.fit_transform(df['tournament'])
df = df.replace({'shoot_out': {'Yes': True, 'No': False}})

C:\Users\KMC\AppData\Local\Temp\ipykernel_216660\3006730843.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'shoot_out': {'Yes': True, 'No': False}})

In [46]:
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,shoot_out,home_team_result,home_team_numeric,away_team_numeric,home_team_continent_numeric,away_team_continent_numeric,tournament_numeric
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,FIFA World Cup qualification,False,Win,24,202,5,5,37
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,FIFA World Cup qualification,False,Win,59,205,5,5,37
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,FIFA World Cup qualification,False,Lose,148,8,5,5,37
5,1993-08-08,Peru,Colombia,South America,South America,70,19,0,0,0,1,FIFA World Cup qualification,False,Lose,149,43,5,5,37
10,1993-08-15,Australia,Canada,Oceania,North America,52,46,0,0,2,1,FIFA World Cup qualification,True,Win,11,36,4,3,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23915,2022-06-14,Turkey,Lithuania,Europe,Europe,43,138,1461,1092,2,0,UEFA Nations League,False,Win,194,113,2,2,73
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,1,UEFA Nations League,False,Win,125,4,2,2,73
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,2,UEFA Nations League,False,Lose,112,107,2,2,73
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,0,Kirin Cup,True,Lose,40,76,5,0,45
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,3,Kirin Cup,False,Lose,97,193,1,0,45

In [47]:
in_50 = [
    "Argentina", "France", "Spain", "England", "Brazil", "Belgium", 
    "Netherlands", "Portugal", "Colombia", "Italy", "Uruguay", 
    "Croatia", "Germany", "Morocco", "Switzerland", "Japan", 
    "Mexico", "USA", "IR Iran", "Denmark", "Senegal", 
    "Austria", "Korea Republic", "Ukraine", "Australia", "Turkey", 
    "Ecuador", "Sweden", "Wales", "Poland", "Egypt", "Hungary", 
    "Côte d'Ivoire", "Russia", "Serbia", "Tunisia", "Panama", 
    "Canada", "Nigeria", "Venezuela", "Algeria", "Slovakia", 
    "Peru", "Qatar", "Romania", "Czech Republic", "Norway", 
    "Greece", "Chile", "Costa Rica"
]

len(in_50)

50

In [48]:
df[df['home_team']=='Argentina']['home_team_numeric']

15       8
22       8
27       8
129      8
395      8
        ..
23096    8
23158    8
23306    8
23454    8
23521    8
Name: home_team_numeric, Length: 133, dtype: int32

In [49]:
fifa_team_pre = []
fifa_team_numeric = []
for i in in_50:
    fifa_team_pre.extend(df[df['home_team']==i]['home_team_numeric'])


for value in fifa_team_pre:
    if value not in fifa_team_numeric:
        fifa_team_numeric.append(value)

In [50]:
list(df[df['home_team']=='Australia']['home_team_continent_numeric'])[0]

4

In [51]:
fifa_conti_numeric = []

for j in fifa_team_numeric:
    fifa_conti_numeric.append(list(df[df['home_team_numeric']==j]['home_team_continent_numeric'])[0])

len(fifa_conti_numeric)

50

In [52]:
fifa_point = [
    1889,1851,1836,1817,1772,1768,1759,1752,1738,1726,1701,1699,1692,1676,1641,
    1639,1635,1632,1622,1621,1620,1580,1572,1548,1544,1538,1535,1528,1526,1525,
    1515,1511,1509,1508,1505,1504,1502,1502,1498,1488,1486,1485,1483,1481,1481,
    1473,1472,1469,1467,1466
]

In [61]:
team_info = pd.DataFrame({'team' : in_50, 'rank' : range(1,51), 'point' : fifa_point, 'numeric' : fifa_team_numeric,
                          'continent_numeric' :fifa_conti_numeric })
team_info.head()
# team_info.isnull()

        team  rank  point  numeric  continent_numeric
0  Argentina     1   1889        8                  5
1     France     2   1851       71                  2
2      Spain     3   1836      174                  2
3    England     4   1817       62                  2
4     Brazil     5   1772       27                  5

In [57]:
# 'home_team_fifa_rank':[23],'away_team_fifa_rank':[16],'home_team_total_fifa_points':[1572],
# 'away_team_total_fifa_points':[1639],'home_team_numeric':[102],'away_team_numeric':[97],'home_team_continent_numeric':[1],'away_team_continent_numeric':[1]

# (team_info['team'], team_info['rank'], team_info['point'], team_info['numeric'], team_info['continent_numeric'])

In [ ]:
import pandas as pd